.center {
    text-align: center;
    margin: auto;
}

.container{
    margin-top: 20px;
}

.row {
    margin-bottom: 10px;
}

#apiOutput{
    min-height: 120px;
}

#apiParamDuration{
    min-width: 130px;
}